<body>
    <div id="myData"></div>
</body>
<script>
    var mainContainer = document.getElementById("myData");
    for (var i = 0; i < data.length; i++)
    {
        var div = document.createElement("div");
        div.innerHTML = 'Name: ' + data[i].name + ' ' + data[i].summary;
        mainContainer.appendChild(div);
    }
</script>